### Before starting:
- Import pandas

In [1]:
import pandas as pd

### Task 1
- Create a DataFrame from the following dictionary and display the first 5 rows
- Write the data to a csv file

In [4]:
data = {
    "Name": ["Alice", "Bob", "Cathy", "David", "Bill"],
    "Age": [25, 30, 35, 40, 50],
    "City": ["New York", "Los Angeles", "Chicago", "Houston", "New York"],
}

print(data)
df = pd.DataFrame(data)

df.to_csv("my_file.csv")
df.head()

{'Name': ['Alice', 'Bob', 'Cathy', 'David', 'Bill'], 'Age': [25, 30, 35, 40, 50], 'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'New York']}

    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles
2  Cathy   35      Chicago
3  David   40      Houston
4   Bill   50     New York

### Task 2: 
- Open your csv file and then modify it directly (you can do this in VS Code or notepad, or Excel, etc...).
- Load a dataframe from your CSV file and display the first 5 rows

### Task 3
- Select and print rows from the original DataFrame where Age is greater than 30

### Task 4
- Add a new column 'Salary' to the DataFrame with the following values:
  - 60000, 50000, 45000, 80000

### Task 5
- Group the original DataFrame by 'City' and calculate the average age

In [10]:
by_city = df.groupby("City")

print(by_city["Age"].mean())

City
Chicago        35.0
Houston        40.0
Los Angeles    30.0
New York       37.5
Name: Age, dtype: float64